* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

nav {
    background-color: #333;
}

a {
    text-decoration: none;
}

.menu {
    max-width: 1400px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.item {
    float: left;
}

.link:hover {
    background-color: #35a6ff;
    color: #fff;
}

.link {
    color: #bdbdbd;
}

.link, .sub-link {
    padding: 15px 30px;
    display: block;
}

.link ~ .submenu {
    padding-top: 4px;
}

.dropdown {
    position: relative;
}

.dropdown > .link::after,
.dropdown > .sub-link::after {
    content: url("../images/list-icon.svg");
    position: absolute;
    top: 14px;
    right: 14px;
}

.dropdown:hover .link {
    background-color: #35a6ff;
    color: #fff;
}

.dropdown .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #35a6ff;
}

.dropdown:hover > .submenu {
    display: block;
} 

.sub-item {
    position: relative;
    border-left: 1px solid #0d66aa;
    border-right: 1px solid #0d66aa;
}

.sub-item { 
    border-top: 1px solid #0d66aa;
}

.sub-item:last-child {
    border-bottom: 1px solid #0d66aa;
}

.dropdown .sub-item:hover {
    background-color: #378dce;
}

.sub-link {
    width: 180px;
    color: #fff; 
}

.dropdown.item .dropdown .submenu {
    top: -1px;
    left: 100%
}

hr {
    border: none;
    height: 4px;
    background-color: #35a6ff;
    margin: 0;
}
